h1 {
  text-align: center;
  padding-top: 33px;
  padding-bottom: 44px;
}

.menu {
  border: 1px solid black;
  background-color: lightgrey;
  padding-top: 44px;
  margin-bottom: 14px;
}

.container {
  position: relative;
}

h3.absolute {
  border: 1px solid black;
  background-color: pink;
  margin-top: 10px;
  width: 150px;
  position: absolute;
  text-align: center;
  margin-top: 0;
  top: 0px;
  right: 0px;
}

h3.beef {
  background-color: maroon;
  color: white;
}

h3.sushi {
  background-color: wheat;
}
